@import fonts, mixins

$ancho: 960px
$azul: #3498db
$blanco: #ffffff
$gris: #cecece

.container
    width: $ancho
    margin: 0 auto

.col6
    width: 50%
    float: left

.text-center
    text-align: center

h1
    color: $azul
    font:
        family: $roboto
        size: 3em
        weight: 300 

body
    font-family: $lato

.circle
    +rounded(50%)

.btn-azul
    background-color: $azul
    color: $blanco
    border: 1px solid $gris
    display: block
    box-sizing: border-box
    padding: 10px 20px
    +transition(all 0.3s linear)

.btn-azul:hover
    background-color: transparent
    color: $azul
    border-color: $azul