=rounded($value)
    border-radius: $value
    -webkit-border-radius: $value
    -moz-border-radius: $value
    -o-border-radius: $value
    -ms-border-radius: $value

=transition($trans)
    transition: $trans
    -webkit-transition: $trans
    -moz-transition: $trans
    -o-transition: $trans
    -ms-transition: $trans  